@charset "UTF-8";

@media screen and (min-width:768px)and (max-width:992px){
    body{
        background-image: linear-gradient(to top, red, black);
    }

    section#login{
        width: 80vw;
    }

   div#imagem{
        float: right;
        width: 30%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 70%;
    }
}

@media screen and (min-width:992px) and (max-width: 1200px){

     body{
        background-image: linear-gradient(to top, red, black);
    }

    section#login{
        width: 950px;
    }

    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 1.8em;
    }

    div#formulario > p{
    font-size: 1.0em;
}
}

@media screen and (min-width:1200px){

     body{
        background-image: linear-gradient(to top, red, black);
    }

    section#login{
        width: 90vw;
    }

    div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 50%;
        height: 100%;
    }

     div#formulario > h1{
        font-size: 1.8em;
    }

    div#formulario > p{
    font-size: 1.0em;
}
}