@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(rgba(128, 0, 128, 0.697), rgba(70, 181, 70, 0.685));
    width: 100vw;
    height: 100vh;
}

div#imagem{
    background: url(../imagens/edificio.jpg);
    height: 80vh;
    width: 100vw;
    display: block;
}

section{
    margin: 0;
    width: 100vh;
    display: grid;
}